
<h1>Beats API Test App</h1>
<p>We need to connect to your Beats Music account to show you the money!</p>
<p>If you have an access token, please enter it below.  If not, click <a href="<%= beats_auth_url() %>">here</a> to try and connect through Beats oAuth API.</p>
<%= form_tag({action: 'index', controller: 'play'}, method: 'get') do %>
    <label>Access Token: </label><%= text_field_tag(:access_token) %>
    <%= submit_tag('Go!') %>
<% end %>

