@font-face {
  font-family: 'icomoon';
  src:asset-url('icomoon.eot');
  src:asset-url('icomoon.eot?#iefix') format('embedded-opentype'),
      asset-url('icomoon.woff') format('woff'),
      asset-url('icomoon.ttf') format('truetype'),
      asset-url('icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon-font {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-font {
  @include icon-font();  
}

@mixin icon-music {
	content: "\e000";
}
@mixin icon-headphones {
	content: "\e001";
}
@mixin icon-play-circle {
	content: "\e002";
}
@mixin icon-pause-circle {
	content: "\e003";
}
@mixin icon-stop-circle {
	content: "\e004";
}
@mixin icon-backward-circle {
	content: "\e005";
}
@mixin icon-forward-circle {
	content: "\e006";
}
@mixin icon-play {
	content: "\e007";
}
@mixin icon-pause {
	content: "\e008";
}
@mixin icon-stop {
	content: "\e009";
}
@mixin icon-backward {
	content: "\e00a";
}
@mixin icon-forward {
	content: "\e00b";
}
@mixin icon-first {
	content: "\e00c";
}
@mixin icon-last {
	content: "\e00d";
}
@mixin icon-previous {
	content: "\e00e";
}
@mixin icon-next {
	content: "\e00f";
}
@mixin icon-eject {
	content: "\e010";
}
@mixin icon-volume-high {
	content: "\e011";
}
@mixin icon-volume-medium {
	content: "\e012";
}
@mixin icon-volume-low {
	content: "\e013";
}
@mixin icon-volume-mute {
	content: "\e014";
}
@mixin icon-volume-mute-2 {
	content: "\e015";
}
@mixin icon-volume-increase {
	content: "\e016";
}
@mixin icon-volume-decrease {
	content: "\e017";
}
@mixin icon-checkmark {
	content: "\e018";
}
@mixin icon-close {
	content: "\e019";
}
@mixin icon-blocked {
	content: "\e01a";
}
@mixin icon-info {
	content: "\e01b";
}
@mixin icon-question {
	content: "\e01c";
}
@mixin icon-notification {
	content: "\e01d";
}
@mixin icon-warning {
	content: "\e01e";
}
@mixin icon-checkmark-circle {
	content: "\e01f";
}
@mixin icon-info2 {
	content: "\e020";
}
@mixin icon-spam {
	content: "\e021";
}
@mixin icon-checkmark2 {
	content: "\e022";
}
@mixin icon-minus {
	content: "\e023";
}
@mixin icon-facebook {
	content: "\e024";
}
@mixin icon-twitter {
	content: "\e025";
}
@mixin icon-tumblr {
	content: "\e026";
}
@mixin icon-tumblr2 {
	content: "\e027";
}
@mixin icon-facebook2 {
	content: "\e028";
}
@mixin icon-save {
	content: "\e029";
}
@mixin icon-filter {
	content: "\e02a";
}
@mixin icon-print {
	content: "\e02b";
}
@mixin icon-remove-sign {
	content: "\e02c";
}
@mixin icon-envelope {
	content: "\e02d";
}
@mixin icon-envelope-alt {
	content: "\e02e";
}
@mixin icon-caret-down {
	content: "\e02f";
}
@mixin icon-caret-up {
	content: "\e030";
}
@mixin icon-caret-left {
	content: "\e031";
}
@mixin icon-caret-right {
	content: "\e032";
}
@mixin icon-sort {
	content: "\e033";
}
@mixin icon-sort-down {
	content: "\e034";
}
@mixin icon-sort-up {
	content: "\e035";
}
